<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
<h3>Angular Learning<h3>
    <hr>
<h4>Edit Employee</h4>
<div class="container">
<form [formGroup]="checkoutForm" (ngSubmit)="postData();">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="inputEmail4" formControlName="name">
      </div>
      <div class="form-group">
        <label for="Skill">Skill</label>
       <input type="text" class="form-control" id="inputPassword4" formControlName="skill">
    </div>
    <div class="form-group">
        <label for="Department">Department</label>
        <select formControlName="dept" class="form-control">
           <option *ngFor="let department of departments"
           [ngValue]="department" >{{department}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="inputAddress2"formControlName="sal" >
    </div>
    <div class="form-group">
        <label for="permanent">Permanent</label>
        <input type="text" class="form-control" id="inputCity" formControlName="permanent">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
