<div class="row">  
    <div class="col-md-4 col-md-offset-4" style="margin-top: 50px; border: 1px solid rgb(100, 98, 98); padding: 30px;">  
      <form class="form-horizontal" role="form" #f="ngForm" (ngSubmit)="f.form.valid && onFormSubmit()">  
        <fieldset>  
          <legend>Address Details:
            <strong>Template Driven Form</strong>  
          </legend>  
    
          <div class="form-group">  
            <label class="col-sm-2 control-label" for="textinput">Address</label>  
            <div class="col-sm-10">  
              <input type="text" name="address" placeholder="Enter Address" class="form-control" [(ngModel)]="model.address">  
            </div>  
          </div>  
    
          <div class="form-group">  
            <label class="col-sm-2 control-label" for="textinput">City</label>  
            <div class="col-sm-10">  
              <input type="text" name="city" placeholder="Enter City Name" class="form-control" [(ngModel)]="model.city">  
            </div>  
          </div>  
    
          <div class="form-group">  
            <label class="col-sm-2 control-label" for="textinput">State</label>  
            <div class="col-sm-4">  
              <input type="text" name="state" placeholder="State" class="form-control" [(ngModel)]="model.state">  
            </div>  
    
            <label class="col-sm-2 control-label" for="textinput">Postcode</label>  
            <div class="col-sm-4">  
              <input type="text" name="postcode" placeholder="Enter Post Code" class="form-control" [(ngModel)]="model.postcode">  
            </div>  
          </div>  
    
          <div class="form-group">  
            <label class="col-sm-2 control-label" for="textinput">Country</label>  
            <div class="col-sm-10">  
              <select class="form-control" name="country" [(ngModel)]="model.country">  
                <option>---Select---</option>  
                <option *ngFor="let item of countryData" [value]="item" >  
                  {{item}}  
                </option>  
              </select>  
            </div>  
          </div>  
    
          <div class="form-group">  
            <div class="col-sm-2 form-check">  
              <input type="checkbox" name="aggrement" class="form-check-input">  
            </div>  
            <label class="col-sm-10 form-check-label">I aggree to Terms & Conditions  
            </label>  
          </div>  
    
          <div class="form-group">  
            <div class="col-sm-12">  
              <span style="color: red;">Please Aggree with Terms & Conditions.</span>  
            </div>  
          </div>  
    
          <div class="form-group">  
            <div class="col-sm-offset-2 col-sm-10">  
              <div class="pull-right">  
                <button type="submit" class="btn btn-primary" style="margin: 4px;">Save</button>  
                <button type="reset" class="btn btn-default">Reset</button>  
              </div>  
            </div>  
          </div>  
        </fieldset>  
      </form>  
    </div>  
  </div>
